<div class="container">
  <div class="row">
    <div *ngIf="showSelectBox" [ngClass]="{
        'col-md-6': searchInputs.length <= 1,
        'col-md-3': searchInputs.length >= 2
      }">
      <select
          class="form-select"
          name="filtrationSelect"
          id="filtrationSelect"
          (change)="selectChange($event)"
      >
        <option value="" [defaultSelected]="true">{{ searchByVariable }}</option>
        <option [value]="option" *ngFor="let option of selectBoxOptions">{{option}}</option>
      </select>
    </div>

    <div *ngFor="let input of searchInputs; let i = index; let last = last"
      [ngClass]="getColClass(i, last)"
    >
      <input
          [type]="input.type"
          [placeholder]="input.placeholder"
          [id]="input.placeholder"
          [name]="input.placeholder"
          (keydown.enter)="inputChange(i, $event)"
          class="form-control w-100">
    </div>
  </div>
</div>
